<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="MyGet" value="https://www.myget.org/F/cogworks-packages/auth/89f28b8d-64f2-48c0-8025-89845095ac53/api/v3/index.json" />
    </packageSources>
</configuration>